{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1 style="color: palevioletred; font-family: century gothic; font-weight:bold;">Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2" style="box-shadow: 0 10px 15px lightblue;">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title" style="color: palevioletred; font-family: century gothic; font-weight:bold;">{{ project.title }}</h5>
                <p class="card-text" style="font-family: century gothic;;">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-danger">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}