{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1 class="text-uppercase" style="color: palevioletred; font-family: century gothic; font-weight:bold;">{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%" style="box-shadow:0 5px 10px lightblue;">
    </div>
    <div class="col-md-4">
        <h5 style="color: rgb(241, 142, 175); font-family: century gothic; font-weight:bold;">About the project:</h5>
        <p style="font-family: century gothic;">{{ project.description }}</p>
        <br>
        <h5 style="color: rgb(241, 142, 175); font-family: century gothic; font-weight:bold;">Technology used:</h5>
        <p style="font-family: century gothic;">{{ project.technology }}</p>
    </div>
</div>
{% endblock %}